html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
}
h1, h2, h3 {
    font-family: "Staatliches", sans-serif;
    text-transform: uppercase;
}

#map {
    flex: 1;
    width: 100%;
    height: 100vh;
}


#page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sidebar {
    width: 300px;
    background-color: #eceff3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidetop {
    flex: 1;
    text-align: center;
}

#sidebottom {
    background-color: #ffff;
    height: 200px;
    padding: 15px;
    border: black solid 1px;
    border-radius: 3%;
    text-align: center;
    margin: 20px 7px 7px;
    display: none;
}



#bunker-site {
    display: none;
}

#logButton {
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logButton:hover {
    background-color: #45a049;
}

#logButton.visited {
    background-color: #888;
}

